:root {
  --background: #EAE7B1;
  --text: #3C6255;
  --box: #A6BB8D;
}

body {
  background-color: var(--background);
  color: var(--text);
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.title {
  text-align: center;
  font-size: 60px;
  letter-spacing: 1rem;
  position: sticky;
  top: 0;
  margin: 0;
  padding: 35px 0;
  background-color: var(--box);
}
