:root {
  --background: #EAE7B1;
  --text: #3C6255;
  --box: #A6BB8D;
}

/* html {
  scroll-behavior: smooth;
} */

body {
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  min-height: 100vh;
  position: relative;
  padding-bottom: 60px;
}

a {
  text-decoration: none;
}

/* Navbar */
nav {
  text-align: center;
  font-size: 40px;
  letter-spacing: 1rem;
  position: sticky;
  top: 0;
  margin: 0;
  padding: 20px 0;
  background-color: var(--box);
  z-index: 2;
}

.container {
  max-width: 1000px;
  margin: 80px auto;
  text-align: center;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.container h2 {
  font-size: 35px;
}

#game {
  padding-top: 100px;
  margin-top: 0;
}


/* Play Button */
.play {
  font-size: 100px;
  background-color: var(--box);
  border-radius: 100%;
  height: 150px;
  width: 150px;
  margin: 180px auto;
  transition: .3s all ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.play button {
  font-size: 30px;
  color: var(--text);
  transition: .3s all ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.play:hover {
  scale: 1.05;
}

.play:hover button {
  scale: 1.3;
  letter-spacing: 2px;
}

/* User Buttons */
.user-buttons {
  display: flex;
  justify-content: space-evenly;
}

.user-buttons i {
  color: var(--text);
  transition: .3s all ease-in-out;
  cursor: pointer;
}

.user-buttons >button {
  font-size: 100px;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  height: 150px;
  width: 150px;
  transition: .3s all ease-in-out;
}

.user-buttons >button:hover i {
  scale: 1.15;
}

/* Computer Buttons */
.computer-buttons {
  display: flex;
  justify-content: space-evenly;
}

.computer-buttons i {
  color: var(--text);
}

.computer-buttons >button {
  font-size: 100px;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  height: 150px;
  width: 150px;
}

/* Score */
.score-container {
  border: 5px solid var(--text);
  height: 68%;
  width: 100%;
  position: relative;
  top: 139px;
  border-radius: 3px;
}

.score {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 74%;
}

#result {
  border: 2px solid var(--text);
  height: 25%;
  width: 80%;
  align-items: center;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  margin: 20px auto 0 auto;
}

/* Footer */
footer {
  background: var(--box);
  position: absolute;
  bottom: 0;
  height: 60px;
	width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  font-weight: bolder;
}
footer a {
  color: var(--text);
}

/* Restart Button */
.restart {
  border: none;
  cursor: pointer;
  color: var(--text);
  background-color: var(--box);
  border-radius: 3px;
  height: 35px;
  width: 70px;
  margin: 20px;
}

.restart:hover {
  scale: 1.1;
  font-weight: bold;
}

/* Pop up information */
.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
  visibility: hidden;
}

.overlay.active {
  visibility: visible;
}

.pop-up {
  width: 33%;
  border-radius: 3px;
  background: var(--text);
  margin: auto;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  position: fixed;
  z-index: 3;
  visibility: hidden;
}

.pop-up.active {
  visibility: visible;
}

.pop-up p {
  color: var(--box);
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
}
